*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Common Style */
.white-btn{
    border: none;
    padding: 10px 20px;
    color: #005FAC;
    font-weight: bold;
    border-radius: 2px;
    font-size: 20px;
    background-color: white;
}
/* Banner Section */
.banner{
    padding: 200px;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}

.banner .right{
    text-align: right;
    width: 50%;
    margin-left: auto;
}
.banner h1{
    font-weight: 700;
    font-size: 65px;
}

.banner p{
    margin: 20px 0px;
    margin-left: auto;
}

/* My Failures Section */
.my-failures{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 300px;
    gap: 100px;
    line-height: 26px;
}

.my-failures img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.my-failures p{
    margin: 20px 0px;
}

.my-failures ul{
    list-style: none;
}

.my-failures i{
    margin-right: 5px;
    color: #16D887;
}

/* My Plans Section */
.my-plans{
    padding: 0px 200px;
    margin-bottom: 50px;
}

.my-plans .plans{
    display: flex;
    justify-content: space-between;
}

.my-plans div{
    text-align: center;
    line-height: 26px;
}

/* Call Section */
.call{
    padding: 100px 200px;
    color: white;
}

.call .positive{
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 100px 50px;
}
/* Contact Section */
.contact {
    padding: 50px 150px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #005FAC;
    border-radius: 10px;
    margin: 50px 150px;
}

.contact .methods {
    display: flex;
    justify-content: space-between;
}

.contact > p{
    margin: 20px 0;
}
.contact div {
    text-align: center;
    line-height: 26px;
    margin-top: 25px;
}
.contact i{
    font-size: 25px;
}
.contact div div{
    color: white;
    background-color: #005FAC;
    padding: 50px 50px;
    width: 180px;
    border-radius: 5px;
    box-shadow: 4px 4px 30px 1px #1514149a;
}
/* Footer */
footer{
    background-color: #151414;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
}

footer .footer-left{
 width: 50%;   
}

footer p{
    margin-top: 20px;
}

footer .social-media{
    margin-top: 20px;
}

footer .social-media img{
    margin-right: 10px;
}

footer form input[type="email"]{
    border: 1px solid white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: transparent;
}

footer form input[type="submit"]{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    background-color: #005FAC;
}